.homeContainer {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
    padding: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.welcomeh1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: 2.8px;
    word-spacing: -3.4px;
    color: rgb(58, 195, 223);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: center;
}
.welcomeh2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: 2.8px;
    word-spacing: -3.4px;
    color: rgb(58, 195, 223);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: center;
}